*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1600px;
  margin: auto;
}
.main-section{
  max-width: 1320px;
  display: block;
  margin: 50px auto;
}
h3,h2,h1,p{
  margin: 0px;
  padding: 0;
}
section {
  margin: 120px 0px;
}
.banner {
  display: flex;
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url("../resources/Banner\ Image.png");
  background-repeat: no-repeat;
  border-radius: 16px;
  justify-content: center;
  align-items: center;
  height: 600px;
  font-family: Merriweather;
  color: #fff;
}
.banner h3 {
  font-size: 72px;
  font-weight: 900;
  text-align: center;
}
.banner span {
  font-size: 32px;

  font-weight: 400;
  margin-bottom: 16px;
}
.discount-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Inter;
}

.discount-container h2 {
  color: #f00;
  text-align: center;
  font-size: 88px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 48px;
}
.discount-container span {
  color: #f00;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.discount-container p {
  color: #070211;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 48px;
}
.midnight {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url("../resources/Vectorrr.png");
  border-radius: 15px;
  background-repeat: no-repeat;
  height: 600px;
  padding-left: 126px;
  padding-right: 138px;
}
.midnight-party-container h1 {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  letter-spacing: 7.04px;
}

.midnight-party-container p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-top: 24px;
  /* margin-bottom: 48px; */
}
.join-button {
  color: #fff;
  border: none;
  background-color: #f00;
  border-radius: 7px;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 32px;
  /* margin-bottom: 70px; */
  margin-top: 48px;
  padding: 10px 15px;
  cursor: pointer;
}
.place {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  border-radius: 10px;

  height: 482px;
  line-height: 56px;

  text-align: center;
  padding: 100px 385px;

}
.place p{
    color: #070211;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
text-transform: capitalize;
}
.place span{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 32px;
font-weight: 600;
text-transform: capitalize;
}
.place button{
    border: none;
    display: inline-flex;
padding: 16px 32px;
justify-content: center;
align-items: center;
gap: 10px;
color: #FFF;
text-align: center;

font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
border-radius: 8px;
background: #F00;
margin-top: 48px;
cursor: pointer;
}
.comming-soon{
    display: flex;
     /* justify-content: space-between; */
    /* align-items: center; */
}
.offer-img{
    border-radius: 100%;
border: 15px solid #F00;
padding: 49px;
/* margin-left: 70px;
margin-right: 180px; */
}
.new-best-offer h3{
  color: #F00;
font-family: Inter;
font-size: 20px;
font-weight: 500;
padding-top: 140px;
padding-bottom: 16px;
}
.new-best-offer h2{
  color: #070211;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
text-transform: capitalize;
}
.new-best-offer p{
  color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;

font-weight: 400;
line-height: 32px;
width: 393px;
margin-right: 50px; /* 160% */
 padding-top: 22px;
/* padding-bottom: 104px; */
}
.new-year-2024 h1{
  color: #F00;
font-family: Inter;
font-size: 48px;

font-weight: 700;

margin-top: 112px;

}
.new-year-2024 p{
  color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px;
width: 276px;/* 160% */
margin-top: 16px;
margin-bottom: 43px;

}
.new-year-2024{
  margin-left: 100px;

}
.holiday{
  text-align: center;
  padding: 0px 126px;
}
.holiday h3{
  color: #070211;
font-family: Inter;
font-size: 24px;
font-weight: 500;
}
.holiday h1{
  margin-top: 16px;
  color: #070211;
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
}
.holiday h1 span{
  color: #F00;
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
}
.holiday p{
  color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 500;
line-height: 32px; /* 160% */
padding-top: 24px;
padding-bottom: 64px;

}

.gift-img{
  position: relative;
  height: 665px;

}
.box-img{
  position: absolute;
  bottom: 1px;
  left: 0px;

}
.gift-ladis{
  position: absolute;
  top: 5px;
  right: 0px;
}
.redbar{
  position: absolute;
  bottom: 0px;

}
.fifty-persent{
  position: absolute;
  right:283px;
  top: 50px;
}
.portfolio img{
  padding: 10px 20px 10px 0px;
  width: 424px;
height: 450px;


}
.portfolio img:hover{
  transform: scale(1.025);
  transition: 200ms ease-in-out;

}
.portfolio h3{
  color: #F00;
font-family: Inter;
font-size: 24px;
font-weight: 500;
}
.portfolio h1{
  color: #070211;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
text-transform: capitalize;
padding-top: 16px;
padding-bottom: 22px;
}
.portfolio p{
  color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
padding-bottom: 48px;/* 160% */
width: 896px;

}
.subscribe{
  border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
text-align: center;

height: 616px;


}
.subscribe img{
  margin-top: 80px;
}
.subscribe h2{
  color: #070211;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
text-transform: capitalize;
padding-top: 40px;
padding-bottom: 22px;
}
.subscribe p{
  color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
padding-bottom: 48px;
padding-left: 210px;
padding-right: 210px;
/* line-height: 32px;  */
/* 160% */
}
.subscribe input{
  outline: none;
  border: 0px;
  width: 648px;
height: 72px;
border-radius: 50px 0px 0px 50px;
background: #F00;
background: #FFF;

}
.subscribe button{
  border: 0px;
  border-radius: 0px 50px 50px 0px;
background: #F00;
width: 210px;
height: 72px;


}
.subscribe input[type="email"]::placeholder{
  cursor: pointer;
padding-left: 30px;
color: rgba(7, 2, 17, 0.30);
font-family: Inter;
font-size: 18px;
font-weight: 400;
}
.subscribe button{

  color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 600;
text-transform: capitalize;
}
footer{
  height: 609px;
  background: #070211;
  color: #FFF;
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 40px; /* 166.667% */
}
.mainfooter{
  max-width: 1320px;
  display: block;
  margin: 120px auto;

}
.footerdiv{

  /* display: flex;
  justify-content: space-between; */
  /* margin: 50px auto; */
  /* padding: 120px 0px; */
  padding-top: 120px;
  padding-bottom: 30px;

}
footer .contact{
  display: flex ;
  justify-content: space-between;
}
.contact p{
  margin-bottom: 50px;
}
.call-img img{
  margin: -5px;
  padding-right: 5px;
}
hr{
  border: 1px solid rgba(255, 255, 255, 0.15);
}
.contact-img{
  display: block;
  text-align: center;
  margin: 48px 0px;
}
.contact-img img{
  margin-left: 24px;
}
.copyright{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  color: #FFF;
line-height: normal;
}
